[*.cs]

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none
# IDE0290: Use a primary constructor
dotnet_diagnostic.IDE0290.severity = none
# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none
# CA1510: Use ArgumentNullException.ThrowIfNull when throwing an ArgumentNullException
dotnet_diagnostic.CA1510.severity = none
